body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea,p,blockquote{margin:0;padding:0; color:#555555}
body, input, button, select, textarea, table {
    font: 12px '微软雅黑',Arial,'宋体';
}
h1, h2, h3, h4, h5, h6,b{font-weight:normal}
img{border:0px; padding:0px; margin:0px}
ol,ul,dl{list-style:none}
.fB{font-weight:bold}
.txtLft{text-align:left}
.txtCtr{text-align:center}
.txtRgt{text-align:right}
.lft{float:left;}
.rgt{float:right;}

.warp{width:1200px; margin:0px auto; display:table}
.Current{ width:100%; line-height:50px; height:50px; font-size:14px; margin-top:10px;}
.icon-cur {
    float: left;
    width: 15px;
    height: 15px;
    display: block;
    background: url("../images/inner_sprite.png") -160px 0 no-repeat;
    margin: 17px 10px 0px 45px;
}
.qita_pojie,.qita_lb{ background:#FFF; padding:10px 20px;}
.qita_pojie .title,.rk_jianjie .title,.rk_bj .title,.qita_lb .title{ background:url(../images/icon8.jpg) repeat-x 0px 7px; height:35px; margin:10px 0px 0px 0px; font-weight:normal}
.qita_pojie .title span,.rk_jianjie .title span,.rk_bj .title span,.qita_lb .title span{ background:#FFF; padding:0px 10px; font-size:16px; border-left: 10px solid #17b1f2;}
.qita_pojie .title i,.rk_jianjie .title i,.rk_bj .title i,.qita_lb .title i{ font-style:normal; float:right; background:#FFF; padding:2px 10px; font-size:14px; }
.qita_pojie li,.qita_lb li{ height:60px; padding:10px 0px; border-bottom:1px #eeeeee dashed}
.qita_pojie li img,.qita_lb li img{ width:60px; height:60px;-moz-border-radius:10px;  -webkit-border-radius:10px;border-radius:10px; float:left;}
.qita_pojie li .txt,.qita_lb .txt{ width:680px; height:60px}
.qita_pojie li .txt h3,.qita_lb li .txt h3{ font-weight:normal; line-height:35px; height:35px}
.qita_pojie li .txt p,.qita_lb li .txt p{ font-size:14px; line-height:24px}
.qita_pojie li .txt p span,.qita_lb li p span{ padding:0px 20px 0px 0px}
.qita_pojie li .txt p i,.qita_lb li p i{ font-style:normal; color:#ababab}
.qita_pojie li .txt p a,.qita_lb li p a{ float:right; border:1px #1fb1f3 solid; font-size:14px; color:#1fb1f3; display:block; padding:0px 10px}
.qita_pojie .more0,.qita_pojie .more,.rk_jianjie .more1,.rk_bj .more2,.rk_bj .more3,.qita_pojie .more4{color:#51bdf5;padding-right:15px; cursor:pointer}
.qita_pojie .more-on,.rk_jianjie .more-on,.rk_bj .more-on{color:#ff7300;}
.qita_lb{ margin-top:10px}
.qita_lb .title i a{color:#51bdf5;}
.qita_lb .title i a:hover{ color:#F00}
.rk_jianjie,.rk_bj{background:#FFF; padding:10px; margin-top:10px}
.rk_jianjie .info,.rk_bj .info{ font-size:14px; line-height:24px; color:#ababab}
.left_box {
    width: 910px;
}
.right_box {
    width: 275px;
}


.qishi_count .icon, .i_count .icon {
    background: url(../images/icon1.png) no-repeat;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.qishi_count .pic {
    height: 80px;
    overflow: hidden;
    padding: 5px 0px 0px 5px;
}
.qishi_count .txt, .i_count .txt {
    line-height: 24px;
    font-size: 14px;
    padding-left: 10px;
    color: #555;
}
.qishi_count .pic img, .i_count .pic img {
    width: 80px;
    height: 80px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin-right: 15px;
}
.qishi_count .pic .title, .i_count .pic .title {
    color: #555555;
    font-size: 14px;
}
.qishi_count .pic p, .i_count .pic p {
    clear: right;
    line-height: 24px;
}
.qishi_count .txt i, .i_count .txt i {
    color: #FF0000;
    font-size: 20px;
    padding: 0px 5px;
}




.adpic{width:100%;height:80px;}
.adpic img{width:100%;height:80px;}

.downWrap{float: left; margin-top: 15px; margin-right: 15px; position: relative;}
.downWrap:nth-of-type(even){margin-right: 0px !important;}
.downWrap .icon{width:200px; height:45px; background:url(../images/downicon.png) no-repeat; position: relative;display: inline-block;vertical-align: middle;text-align: center;}
.downWrap .icon .showCode{position: absolute; width: 50px; height: 45px;top: 0px; right: 0px; z-index: 9; background: transparent;}
.downWrap .android{background-position:0px -49px;}
.downWrap .ios{background-position:0px -100px;}
.downWrap .shuowan{background-position: -0px -151px;}
.downWrap .pc{background-position:0px 0px;}
.downWrap .android[href]:hover{background-position: -203px -49px;}
.downWrap .ios[href]:hover{background-position: -203px -100px;}
.downWrap .shuowan[href]:hover{background-position: -203px -151px;}
.downWrap .pc[href]:hover{background-position:-203px 0px;}
.downWrap .android.ban{background-position:0px -382px;}
.downWrap .ios.ban{background-position:0px -436px;cursor: default;}
.downWrap .shuowan.ban{background-position:-213px -382px;}
.downWrap .pc.ban{background-position:-213px -436px;}
.codeWrap{width: 120px; height: 120px; padding: 15px; background: #fff; border: 1px solid #ccc; position: absolute;display: none;z-index: 2; right: 0px; margin-right: -20px; margin-top: 8px;}
.codeWrap::after{content: "";position: absolute; width: 10px; height: 10px; border: 1px solid #ccc; border-bottom: 0; border-right: 0; transform: rotate(45deg); left: 50px;top: -6px; background: #fff; z-index: 3;}
.codeWrap img{width: 100%; height: 100%;}
/* 盒子下载弹出框 */
#zzc {
    background-color: rgb(0, 0, 0);
    border-top: 1px solid rgb(230, 245, 255);
    position: fixed;
    height: 2849px;
    z-index: 9998;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.7;
    display: none;
  }
  .zzc-download {
    display: none;
    visibility: visible;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-top: -146px;
    margin-left: -290px;
  }
  .zzc-download .dia-con {
    width: auto;
    background: none;
  }
  .dia-download {
    padding: 30px 76px 23px 48px;
    background: #fff;
  }
  .zzc-download .code {
    float: left;
    margin-right: 36px;
  }
  .zzc-download .btnlist {
    float: left;
  }
  .zzc-download .btnlist a {
    width: 212px;
    height: 46px;
    display: block;
    margin-bottom: 9px;
    background: url(../images/down.png);
  }
  .zzc-download .dia-close {
    width: 212px;
    height: 46px;
    display: block;
    margin-bottom: 9px;
    background: url(../images/close.png);
  }
  .zzc-download .btnlist .pc {
    background-position: 0 -112px;
  }
  .zzc-download .btnlist .zzc-ios {
    background-position: 0 -56px;
    margin-top: 50px;
    position: relative;
  }
  .zzc-download .btnlist .zzc-android {
    background-position: 0 0;
    margin-top: 30px;
  }
  .zzc-download .btnlist .android1 {
    background-position: 0 -169px;
  }
  .zzc-download .dia-close {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 36px;
    height: 36px;
    background-position: -264px -17px;
  }
  .dia-download .code img {
    width: 197px;
    margin-left: 13px;
  }
  .dia-download .code p {
    color: #111;
    font-size: 14px;
    margin-top: 10px;
  }
  .dia-download .btnlist p {
    font-size: 16px;
    color: red;
    cursor: pointer;
  }
  
  /* 下载按钮 */
  .eight-ewm{text-indent:0;position: absolute; width: 202px;background:#fff;box-shadow:0 0 2px rgba(0,0,0,0.5);text-align:center;padding:15px 0px;border-radius:4px;left: 5px;top: 46px;z-index:9999;display:none;}
  .eight-ewm.box1{height: 200px;left: -1px;top: 45px;}
  .eight-ewm.box2{height: 178px;left: -1px;top: 45px;}
  .eight-ewm p{font-size:14px;color:#333;line-height:22px;}
  .eight-ewm img{width:130px;height:130px;margin:10px auto;float:none;}
  .eight-ewm a{ color:#ff0000; font-size:14px; cursor:pointer;} 
  .eight-ewm button{display:inline-block;width:100%;background:#ff4b4b;color:#fff;text-align:center;line-height:45px;border-radius:6px;font-size:14px;border:none;cursor:pointer;}
  .android{position: relative;}
  .ios{position: relative;}

.gray { background: #eee;padding-bottom: 20px;}
.gameBrief{background: #fff; margin-bottom:10px;}
.gameBrief .item2{margin-top:30px;}
.gameBrief .gre{color:#4db848;}
.gameBrief .gameInfo{padding: 30px 20px; height: 160px;}
.gameItem{float: left; width:650px;}
.gameBrief .gameDown{width: 420px; float: right;}
.gameBrief .gameDown h3{border-bottom: 1px solid #ccc;}
.gameBrief .gameDown h3 span{font-size:18px; line-height: 29px; color:#999; border-bottom: 2px solid #4db848; display: inline-block; margin-bottom: -1px;}

.gameBrief .infoBar{border-top: 1px solid #e1e1e1; border-bottom: 0px; background: #fff;}
.gameBrief .infoBar>span{margin-right: 30px;}
.gameBrief .infoBar>span>a{margin-left: 10px;}
.gameBrief .infoBar>span>a:hover{text-decoration:none;}

.gameItem img{float:left; width: 160px; height: 160px; border-radius: 10px;margin-right: 25px;}
.gameItem .text h1{font-size: 24px; line-height: 30px; color: #172c45; margin: 10px 0px; font-weight: bold;}
.gameItem .text p{font-size:12px; color:#999; margin: 10px 0px 20px;}
.gameItem .text p .jiacu{font-weight: 900;}
.gameItem .text .star{width:122px;height:20px;display: inline-block;background: url(../images/xingxing.png) no-repeat;}
.gameItem .text .s01{background-position: -3px 0px;}
.gameItem .text .s02{background-position: -3px -24px;}
.gameItem .text .s03{background-position: -3px -54px;}
.gameItem .text .s04{background-position: -3px -86px;}
.gameItem .text .s05{background-position: -3px -1217px;}
.gameItem .text .s06{background-position: -3px -150px;}
.gameItem .text .s07{background-position: -3px -188px;}
.gameItem .text .s08{background-position: -3px -213px;}
.gameItem .text .s09{background-position: -3px -245px;}
.gameItem .text .s010{background-position: -3px -274px;}
.gameItem .text .code{color: #ff7f00; padding: 0px 10px;font-size: 18px;}
.gameItem .text .item em{color: #666;}
.gameItem .text .item span{color:#999 ; line-height:30px ; font-size:12px ;display: inline-block; vertical-align: middle;}
.gameItem .text .item2 span{ color: #4db848; width:415px;  line-height:30px ; font-size:14px ;display: inline-block; vertical-align: middle;margin-right: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.gameItem .text .item2 .item2-span { width: 135px; color:#999;}
.gameItem .text .item span.issue{margin-left:4px;}
.gameItem .text .gre:hover{text-decoration: underline;}


.help{font-size: 14px; color:#4db848; margin-left: 10px;display: block;margin-top:130px;}
.help .icon{width: 16px; height: 16px; margin-right: 5px;display: inline-block;background: url(../images/bg-version2.png) no-repeat;vertical-align: middle;text-align: center; background-position:-326px -437px;margin-top:-3px;}


.snapShotWrap{width:800px;position:relative;margin:30px auto 30px; overflow:hidden;}
#shotNext{top:0;right:0;}
#shotPrev{top:0;left:0;}
.snap-shot-btn{position:absolute;width:50%;height:100%;opacity:0.7;z-index:3;}
#shotNext i{background-position:-21px 0;right:30px;}
#shotPrev i{background-position:0 0;left:30px;}
.snap-shot-btn i{background:url(../images/contral_w.png) no-repeat;position:absolute;width:20px;height:40px;top:50%;margin:-20px 0 0 0;}
.snapShotCont{width:800px;position:relative;overflow:hidden;}
.snopshot{position:absolute;overflow:hidden;zoom:1;text-align:center;}
.snapShotCont img{position:relative;width:100%; height:100%;}
.elementOverlay{z-index:1;position:absolute;top:0;left:0;background:#000;width:100%;height:100%;opacity:0.4;filter:alpha(opacity=40);}
.elementOverlays{z-index:1;position:absolute;top:0;left:0;background:#000;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);}



.related ul {margin-left: -30px;zoom:1;overflow: hidden;padding-top: 5px;}
.related li {float: left;margin-left: 30px;width: 390px;height: 30px;padding-left: 15px;background: url("../images/li_arrow.gif") left 10px no-repeat;line-height: 30px;    overflow: hidden;    border-bottom: 1px dotted #ccc;    display: inline;vertical-align: middle;}
.related li:nth-child(2n+1){margin-right:30px;}
.related li a {float: left;width: 340px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #333;font-size:14px;}
.related li a:hover {color: #f60;}
.related li em {float: right;width: 50px;text-align: right;color: #999;}


.setup{padding:0px 0px 10px;text-align: center;}
.setup img{padding: 20px 30px 10px;}
.setup ul{text-align: center;}
.setup ul li{display: inline-block; border-right: 1px solid #ccc; line-height: 50px; width:165px;}
.setup ul li:last-child{border-right: 0;}
.setup ul li em{color:#666; font-weight: bold; font-size: 14px; line-height: 20px;}
.setup ul li span{font-size: 12px; color: #666;}


.side-title {
    height: 28px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
}

.side-title .tit {
    height: 28px;
    font-size: 20px;
    line-height: 28px;
    color: #333;
    border-bottom: 1px solid #f60;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.side-title .tit i,.rank-tab .tit i,.hot-tab .tit i {
    float: left;
    width: 28px;
    height: 28px;
    display: inline;
    margin-right: 10px;
    background: url("../images/inner_sprite.png") no-repeat;
}
.side-title .tit .icon-djph {
    background-position: -70px -140px;
}
.side-title .tit .icon-rmlb {
    background-position: -70px -80px;
}
.side-title a {
    line-height: 28px;
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
}

.side-title a:hover {
    color: #f60;
}

.side-title a .icon-more {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-left: 5px;
    background: url("../images/inner_sprite.png") no-repeat;
    background-position: -100px 0;
    vertical-align: middle;
}

.side-title a:hover .icon-more {
    background-position: -130px 0;
}

.wtt7 .loadboxb .dis2 a.plr{padding: 0 6px;margin-top:6px;}

.integrate {
    display: inline-block;
    width: 51px;
    height: 77px;
    background: url(../images/integrate.png);
    float: left;
    margin-left:-7px;
    margin-top:5px;
}
.integrate.frist {
    background-position: -0px -115px;
}
.integrate.second {
    background-position: -60px -115px;
}
.integrate.third {
    background-position: -125px -115px;
}
.list-num {
    height: 91px;
    line-height: 91px;
    color: #969696;
    width: 45px;
    font-size: 24px;
    text-align: center;
}

.wtt7 .loadboxb .dis2 .cen p.numd{overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}

.fahao_cell li {
    width: 310px;
    float: left;
    margin: 0px 0 0 0px;
    padding: 11px 0;
}

.fahao_cell dt {
    float: left;
    width: 58px;
    margin-right: 11px;
}

.fahao_cell dt img {
    width: 58px;
    height: 58px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.fahao_cell dd {
    position: relative;
    width: 123px;
    padding-right: 70px;
    height: 54px;
    float: left;
}

.fahao_cell dd .p1 {
    font-size: 15px;
    margin: 5px 0;
    height: 20px;
    white-space: nowrap;
}

.fahao_cell dd .num {
    color: #999;
}

.fahao_cell dd .sm {
    color: #999;
    overflow: hidden;
    height: 20px;
}

.fahao_cell dd .lh_btn {
    position: absolute;
    right: 10px;
    top: 32px;
    height: 22px;
    width: 58px;
    background: #fff;
    color: #f60;
    line-height: 22px;
    text-align: center;
    border: 1px solid #f60;
}

.fahao_cell li:hover .p1 a {
    color: #0095e1;
}

.fahao_cell li:hover dt {
    -moz-transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.fahao_cell li:hover .p1 a {
    color: #f60
}

.fahao_cell li:hover .lh_btn {
    background: #f60;
    color: #fff;
}

.down_soft{background:#FFF; padding:10px; margin-top:10px; position:relative;}
.down_soft .title{ border-bottom:2px #eeeeee solid; color:#555555; height:30px; line-height:30px;font-weight:normal; font-size:16px}
.down_soft li{ border-bottom:1px #e9e9e9 dotted; padding:5px 0px; line-height:26px}
.down_soft i{ font-size:14px; font-style:normal}
.down_soft .pic_list{ width:205px; height:75px; overflow:hidden; padding:7px}
.down_soft .pic_list img{ width:75px; height:75px;-moz-border-radius:15px;  -webkit-border-radius:15px;border-radius:15px; float:left; margin-right:15px}
.down_soft .one{ height:90px}
.down_soft .one i{ background:#ff7672; height:90px; width:30px; color:#FFF; line-height:90px; text-align:center}
.down_soft .two,.down_soft .three,.down_soft .four{ height:30px}
.down_soft .two i{ background:#ff7e00; height:30px; width:30px; color:#FFF; line-height:30px; text-align:center}
.down_soft .three i{ background:#ffad3b; height:30px; width:30px; color:#FFF; line-height:30px; text-align:center}
.down_soft .four i{ background:#e9e9e9; height:30px; width:30px; color:#555; line-height:30px; text-align:center}
.down_soft .pic_list .tit{ color:#555555; font-size:15px}
.down_soft .pic_list .info{ font-size:13px; color:#ababab; line-height:22px}
.down_soft .txt{width:205px; height:30px; overflow:hidden; padding:0px 7px; font-size:14px}
.down_soft .txt span{ color:#ababab; font-size:12px}


.wtt7{ margin:15px auto 0px auto; width:100%; }
.wtt7 .wtt7_1{ width:260px;  overflow:hidden;}
.wtt7 .loadboxb{ padding-top:3px; }
.wtt7 .loadboxb .dis1{ height:34px; border-bottom:#e9e9e9 dashed 1px; cursor:pointer; }
.wtt7 .loadboxb .dis1 i{ display:block; float:left; font-style:normal; width:30px; height:30px; line-height:30px; text-align:center; color:#313131; font-size:14px; background:#e9e9e9; }
.wtt7 .loadboxb .dis1 .f{ font-size:14px; color:#313131; width:130px; height:30px; line-height:30px;float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-left:20px; }
.wtt7 .loadboxb .dis1 .t{ font-size:12px; color:#666; height:30px; line-height:30px;float:left; }
.wtt7 .loadboxb .dis1 .g{ font-size:12px; color:#666; height:30px; line-height:30px;float:right; padding-right:10px; }
.wtt7 .loadboxb .dis2{ display:none; height:94px; overflow:hidden; border-bottom:#e9e9e9 dashed 1px;}
.wtt7 .loadboxb .dis2 i{ display:block; float:left; font-style:normal; width:30px; height:90px; line-height:90px; text-align:center; color:#313131; font-size:14px; background:#e9e9e9; }
.wtt7 .loadboxb .dis2 a.img_jump{ display:block; width:76px; height:76px; overflow:hidden; padding:0px 15px; float:left; padding-top:5px; }
.wtt7 .loadboxb .dis2 a.plr{padding: 0 6px;margin-top:6px;}
.wtt7 .loadboxb .dis2 a.img_jump img{width:76px; height:76px; overflow:hidden; border-radius:12px;}
.wtt7 .loadboxb .dis2 .cen{ padding-top:8px;width:120px;float:left; }
.wtt7 .loadboxb .dis2 .cen a.clic{ font-size:16px; color:#313131; font-weight:bold; height:30px; line-height:30px; width:120px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.wtt7 .loadboxb .dis2 .cen a.clic:hover{ color:#f42d2d;}
.wtt7 .loadboxb .dis2 .cen p.numd{ font-size:12px; color:#ababab;height:20px; line-height:20px;}
.wtt7 .wtt7_2{ width:310px; float:left; padding-right:20px; _padding-right:0px; overflow:hidden;}
