@charset "utf-8";
/*游戏tab*/
.iqzt {
    overflow: hidden;
}
.iqzt_tab {
    height: 120px;
    background: #fff;
    overflow: hidden;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #d8d8d8;
}
.iqzt_title {
    width: 100px;
    height: 100%;
    float: left;
}
.iqzt_title ul li {
    width: 98px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #f5f5f5;
    position: relative;
    color: #333;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: #f6f6f6;
    border-top: 1px solid #e0e0e0;
}
.iqzt_title ul li:nth-of-type(1) {
    border-top: 0;
}
.iqzt_title ul li.last {
    background: #2794ef;
    border-color: #2794ef;
    color: #fff;
    position: relative;
}
.iqzt_title ul li.last:after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    height: 10px;
    width: 0px;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
    border-right: 10px solid #2794ef;
    background: #2794ef;
}
.iqzt_list {
    width: 1000px;
    height: 100%;
    float: right;
    background-color: white;
    margin-left: 20px;
}
.hide {
    display: none;
}
.iqzt ul li {
    width: 80px;
    height: 111px;
    overflow: hidden;
    margin: 8px 0px 0 22px;
    float: left;
    position: relative;
}
.iqzt ul li:nth-of-type(1) {
    margin-left: 0;
}
.iqzt ul li a {
    display: block;
    width: 80px;
    height: 100%;
}
.iqzt a:hover span.index_bt {
    color: #ff6600;
}
.iqzt ul li span.index_bt {
    display: block;
    height: 32px;
    line-height: 26px;
    text-align: center;
    color: #333;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    margin-top: 3px;
}
.iqzt ul li img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
}
.iqzt_list li em {
    background: url(../images/bg_90.png);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
/*top-new*/
.row {
    overflow: hidden;
    zoom: 1;
}
.text-news {
    float: left;
    width: 460px;
}
.top-news {
    height: 125px;
    border-bottom: 1px dotted #d8d8d8;
}
.top-news h2 {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}
.top-news h2 a {
    color: #f60;
}
.top-news h2 a:hover {
    text-decoration: none;
}
.top-news p {
    line-height: 32px;
    text-align: center;
    margin-bottom: 10px;
}
.top-news p a {
    color: #666;
}
.top-news p a:hover {
    text-decoration: none;
}
.top-news p span {
    color: #e1e1e1;
    margin: 0 13px;
}
.news-list {
    padding-top: 10px;
}
.news-list li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 10px;
}
.news-list li .kind {
    float: left;
    width: 48px;
    height: 24px;
    display: block;
    line-height: 24px;
    text-align: center;
    color: #fff;
}
.news-list li .kind.rd {
    background: #2794ef;
}
.news-list li .kind.cy {
    background: #997fdd;
}
.news-list li .kind.zx {
    background: #f36161;
}
.news-list li .kind.zt {
    background: #fd7317;
}
.news-list li .kind.kind23 {
    background: #fd7317;
}
.news-list li .kind.kindall {
    background: #fd7317;
}
.news-list li .kind.tj {
    background: #2aca63;
}
.news-list li a {
    float: left;
    margin-left: 10px;
    width: 75%;
    font-size: 16px;
    color: #333;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news-list li a:hover {
    color: #f60;
    text-decoration: none;
}
.news-list li em {
    float: right;
    color: #999;
}
.img-news {
    float: right;
    width: 640px;
    height: 476px;
    position: relative;
}
.img-news a {
    width: 310px;
    height: 180px;
    display: block;
    position: absolute;
    overflow: hidden;
}
.img-news a img {
    width: 310px;
    height: 180px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.img-news a:hover img {
    -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}
.img-news a.in1 {
    width: 640px;
    height: 276px;
    top: 0;
    left: 0;
}
.img-news a.in1 img {
    width: 640px;
    height: 276px;
}
.img-news a.in1:hover img {
    -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
}
.img-news a.in2 {
    top: 296px;
    left: 0;
}
.img-news a.in3 {
    top: 296px;
    right: 0;
}
.img-news a.in4 {
    top: 471px;
    left: 0;
}
.img-news a.in5 {
    top: 471px;
    right: 0;
}
.img-news a:hover span {
    color: #f60;
}
.eye_top {
    width: 640px;
    height: 276px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/*grid*/
.grid {
    padding-top: 14px;
}
.title {
    height: 55px;
    overflow: hidden;
    border-bottom: 2px solid #fd7317;
}
.title i {
    display: inline-block;
    vertical-align: -4px;
    *vertical-align: -1px;
    background: url("../images/sprite.png") no-repeat;
}
.title a {
    float: right;
    line-height: 60px;
    color: #999;
}
.title a:hover {
    color: #f60;
}
.title i.icon-more {
    width: 19px;
    height: 19px;
    background-position: -60px -120px;
    margin-left: 6px;
}
.title a:hover .icon-more {
    background-position: -90px -120px;
}
.title i.icon-game {
    float: left;
    width: 30px;
    height: 21px;
    background-position: right 0;
    margin: 18px 9px 16px 0;
}
.title i.icon-zone {
    float: left;
    width: 26px;
    height: 26px;
    background-position: right -30px;
    margin: 15px 9px 14px 0;
}
.title i.icon-industry {
    float: left;
    width: 31px;
    height: 26px;
    background-position: right -60px;
    margin: 15px 9px 14px 0;
}
.title i.icon-bagua {
    float: left;
    width: 28px;
    height: 21px;
    background-position: right -90px;
    margin: 18px 9px 16px 0;
}
.title i.icon-rank {
    float: left;
    width: 24px;
    height: 24px;
    background-position: right -120px;
    margin: 17px 9px 14px 0;
}
.title span {
    float: left;
    line-height: 55px;
    font-size: 24px;
    color: #666;
}
.title span strong {
    color: #fd7317;
}
.img-three {
    overflow: hidden;
}
.img-three ul {
    margin-left: -20px;
    zoom: 1;
}
.img-three li {
    float: left;
    margin-left: 20px;
}
.img-three li a,
.img-three li a img {
    width: 360px;
    height: 200px;
    display: block;
}
.img-three li a {
    position: relative;
}
.img-three li a span {
    width: 100%;
    height: 18px;
    padding: 52px 0 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url("../images/mask_90.png") repeat-x;
    position: absolute;
    bottom: -90px;
    left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.img-three li a:hover span {
    bottom: 0;
}
.s-title {
    height: 22px;
    line-height: 22px;
    padding: 20px 0;
    overflow: hidden;
}
.s-title span {
    float: left;
    font-size: 22px;
    color: #333;
}
.s-title i.icon-more {
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: -4px;
    *vertical-align: -1px;
    background: url("../images/sprite.png") -60px -120px no-repeat;
    margin-left: 6px;
}
.s-title a {
    float: right;
    color: #999;
}
.s-title a:hover {
    color: #f60;
}
.s-title a:hover .icon-more {
    background-position: -90px -120px;
}
.mg-test,
.ng-reviews,
.gaming {
    float: left;
    width: 360px;
    height: 502px;
    overflow: hidden;
}
.ng-reviews,
.gaming {
    margin-left: 20px;
}
.mg-test dt {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.mg-test dd {
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
}
.mg-test ul {
    margin-left: -1px;
    zoom: 1;
}
.mg-test li {
    float: left;
    margin-left: 1px;
    font-size: 16px;
}
.mg-test li a {
    color: #333;
}
.mg-test li a:hover {
    text-decoration: underline;
}
.mg-test dt li {
    text-align: center;
    background: #ededed;
    font-size: 16px;
    color: #666;
}
.mg-test dd li.time {
    color: #999;
}
.mg-test dd li.status {
    color: #f60;
}
.mg-test .time {
    width: 104px;
    text-align: center;
}
.mg-test .name {
    width: 100px;
    padding: 0 25px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mg-test .status {
    width: 80px;
    padding: 0 12px;
}
.get-gift {
    float: right;
    width: 360px;
    height: 260px;
    overflow: hidden;
}
.get-gift .s-title {
    padding: 0 0 20px;
}
/*eye_gaming*/
.eye_gaming {
    position: relative;
    width: 360px;
    height: 230px;
    overflow: hidden;
}
.eye_gaming img {
    width: 360px;
    height: 230px;
}
.gaming-list {
    padding: 22px 0 10px;
}
.common-list li {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    padding-left: 14px;
    background: url("../images/li_arrow.gif") 0 12px no-repeat;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    vertical-align: middle;
}
.common-list li:hover {
    background-position: 5px 12px;
}
.common-list li a {
    float: left;
    width: 85%;
    font-size: 16px;
    color: #333;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.common-list li a:hover {
    color: #f60;
    text-decoration: underline;
}
.common-list li em {
    float: right;
    color: #999;
}
/*新游评测*/
.reviews-list {
    height: 440px;
    overflow: hidden;
}
.reviews-list ul {
    margin-top: -16px;
    zoom: 1;
}
.reviews-list li {
    height: 84px;
    padding: 16px 0 17px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    vertical-align: middle;
}
.rl-img {
    float: left;
    width: 84px;
    height: 84px;
}
.rl-img img {
    width: 84px;
    height: 84px;
    border-radius: 24px;
}
.rl-info {
    float: left;
    width: 184px;
    padding-left: 12px;
}
.rl-info h3 {
    line-height: 34px;
    font-size: 16px;
    color: #333;
}
.rl-info h3 a {
    color: #333;
    width: 142px;
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}
.rl-info h3 a:hover {
    color: #f60;
}
.rl-info h3 span {
    margin-left: 5px;
    font-weight: normal;
}
.rl-info p {
    color: #888;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
}
.rl-score {
    float: right;
    width: 58px;
}
.rl-score span {
    width: 58px;
    height: 58px;
    display: block;
    background: url("../images/score.gif") no-repeat;
    text-indent: -99px;
    overflow: hidden;
}
.rl-score span.s1 {
    background-position: 0 0;
}
.rl-score span.s2 {
    background-position: 0 -58px;
}
.rl-score span.s3 {
    background-position: 0 -116px;
}
.rl-score span.s4 {
    background-position: 0 -174px;
}
.rl-score span.s5 {
    background-position: 0 -232px;
}
.rl-score span.s6 {
    background-position: 0 -290px;
}
.rl-score span.s7 {
    background-position: 0 -348px;
}
.rl-score span.s8 {
    background-position: 0 -406px;
}
.rl-score span.s9 {
    background-position: 0 -464px;
}
.rl-score span.s10 {
    background-position: 0 -522px;
}
.rl-score p {
    width: 56px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-top: 8px;
}
.rl-score p.gray {
    border: 1px solid #999;
    color: #999;
}
.rl-score p.blue {
    border: 1px solid #2794ef;
    color: #2794ef;
}
.rl-score p.green {
    border: 1px solid #00c64f;
    color: #00c64f;
}
.rl-score p.purple {
    border: 1px solid #9f34ea;
    color: #9f34ea;
}
/* 火爆专区 */
.zoneleft {
    float: left;
    width: 740px;
}
.zoneright {
    float: right;
    width: 360px;
}
.zoneleft .hot-game2 dd {
    margin-right: 18px;
}
.left-border {
    width: 738px;
    height: 260px;
    position: relative;
    border: 1px solid #ededed;
}
.recommend-zone {
    width: 360px;
    height: 246px;
    position: absolute;
    top: 15px;
    left: -1px;
}
.recommend-zone .rzt {
    height: 84px;
    position: relative;
    margin-bottom: 12px;
    padding-left: 112px;
}
.rz-img {
    width: 84px;
    height: 84px;
    display: block;
    position: absolute;
    top: 0;
    left: 16px;
}
.rz-img img {
    width: 84px;
    height: 84px;
    border-radius: 20px;
}
.rzt p {
    width: 248px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    position: relative;
}
.rzt p a {
    font-size: 18px;
    color: #333;
    margin-right: 7px;
}
.rzt p s {
    width: 80px;
    height: 14px;
    font-size: 0;
    display: inline-block;
    background: url("../images/star.gif") 0 -14px repeat-x;
    position: relative;
    vertical-align: 0;
}
.rzt p s s {
    background: url("../images/star.gif") 0 0 repeat-x;
}
.rzt p s .star0 {
    width: 0;
}
.rzt p s .star1 {
    width: 20%;
}
.rzt p s .star2 {
    width: 40%;
}
.rzt p s .star3 {
    width: 60%;
}
.rzt p s .star4 {
    width: 80%;
}
.rzt p s .star5 {
    width: 100%;
}
.rzt p strong {
    width: 52px;
    height: 18px;
    display: block;
    text-align: center;
    line-height: 18px;
    background: #2794ef;
    color: #fff;
    position: absolute;
    right: 0;
    top: 6px;
}
.rzt p em {
    color: #666;
}
.rzt ul {
    margin-left: -10px;
    zoom: 1;
}
.rzt li {
    float: left;
    margin-left: 10px;
}
.s-button {
    width: 74px;
    height: 24px;
    display: block;
    overflow: hidden;
    border: 1px solid #fd7317;
    background: #fff1e8;
    color: #fd7317;
    font-size: 12px;
    line-height: 24px;
    border-radius: 3px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.s-button i {
    float: left;
    width: 15px;
    height: 16px;
    display: block;
    background: url("../images/sprite.png") no-repeat;
    margin: 4px 7px 4px 15px;
}
.s-button i.icon-gl {
    background-position: -120px -120px;
}
.s-button i.icon-lb {
    background-position: -120px -140px;
}
.s-button i.icon-xz {
    background-position: -120px -160px;
}
.s-button:hover {
    background: #f60;
    border: 1px solid #f60;
    color: #fff;
}
.s-button:hover i.icon-gl {
    background-position: -140px -120px;
}
.s-button:hover i.icon-lb {
    background-position: -140px -140px;
}
.s-button:hover i.icon-xz {
    background-position: -140px -160px;
}
.zone-news {
    width: 343px;
    height: 245px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 15px;
}
.zone-news h3 {
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}
.zone-news h3 a {
    color: #333;
}
.zone-news h3 a:hover {
    color: #f60;
}
.zone-news p {
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    color: #888;
    margin: 7px 0;
}
.hot-game2 {
    height: 90px;
    padding: 20px 0;
    overflow: hidden;
}
.hot-game2 {
    border-bottom: none;
}
.hot-game2 dt {
    float: left;
    width: 14px;
    height: 60px;
    background: url("../images/hg_dt.gif") no-repeat;
    padding: 15px 16px 15px 8px;
    line-height: 15px;
    color: #fff;
    margin-right: 11px;
}
.hot-game2 dl {
    margin-right: -24px;
    zoom: 1;
}
.hot-game2 dd {
    float: left;
    width: 70px;
    margin-right: 20px;
    text-align: center
}
.hot-game2 dd a {
    width: 70px;
    height: 90px;
    display: block;
    line-height: 12px;
    text-align: center;
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.hot-game2 dd a:hover {
    color: #f60;
}
.hot-game2 dd a img {
    width: 70px;
    height: 70px;
    display: block;
    margin-bottom: 7px;
    border-radius: 16px;
}
.hot-game2 dd em {
    color: #c00;
    font-size: 12px
}
.get-gift {
    float: right;
    width: 360px;
    height: 260px;
    overflow: hidden;
}
.get-gift .s-title {
    padding: 0 0 20px;
}
.eye {
    position: relative;
    width: 360px;
    height: 218px;
    overflow: hidden;
}
.eye img {
    width: 360px;
    height: 218px;
    display: block;
}
.giftlist {
    clear: both;
    padding: 10px 0 20px 0;
    overflow: hidden;
}
.giftlist li {
    position: relative;
    height: 84px;
    padding: 7px 65px 7px 94px;
    border-bottom: #ddd 1px solid;
    overflow: hidden;
}
.giftlist li dt {
    clear: both;
    display: block;
    width: 100%;
    padding-top: 8px;
    line-height: 1;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}
.giftlist li dt a {
    color: #333;
}
.giftlist li dt a:hover {
    color: #f60;
}
.giftlist li dd {
    height: 16px;
    line-height: 16px;
    padding: 9px 0 0 0;
    color: #999;
    font-size: 12px;
    overflow: hidden;
}
.giftlist li dd em {
    color: #666;
}
.giftlist .giftface {
    position: absolute;
    left: 0;
    top: 7px;
}
.giftlist .giftface img {
    border-radius: 24px;
}
.getgiftbox {
    position: absolute;
    top: 22px;
    right: 0;
    width: 60px;
    padding-top: 19px;
}
.getgiftbox .strap1,
.getgiftbox .strap2 {
    position: absolute;
    /*z-index:-1;*/
    background: url(../images/boxstrap.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.getgiftbox .strap1 {
    left: 12px;
    top: 0;
    width: 20px;
    height: 21px;
    background-position: 0 0;
}
.getgiftbox .strap2 {
    left: 30px;
    top: 4px;
    width: 15px;
    height: 18px;
    background-position: 0 -30px;
}
.getgiftbox:hover .strap1 {
    -webkit-animation: strap1 .8s infinite;
            animation: strap1 .8s infinite;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
}
.getgiftbox:hover .strap2 {
    -webkit-animation: strap2 .8s infinite;
            animation: strap2 .8s infinite;
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}
@-webkit-keyframes strap1 {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@keyframes strap1 {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@-webkit-keyframes strap2 {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@keyframes strap2 {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
.getgiftbox a,
.getgiftbox .date {
    display: block;
    border: #fd7b25 1px solid;
    text-align: center;
    font-size: 12px;
}
.getgiftbox a {
    border-radius: 5px;
    background: #fff1e8;
    line-height: 20px;
    color: #f60;
}
.getgiftbox a:active {
    background: #fd7b25;
    color: #fff;
}
.getgiftbox .date {
    border-top: 0;
    line-height: 16px;
    color: #666;
    border-radius: 0 0 5px 5px;
    margin: 0 5px;
}
.system-ios,
.system-android,
.system-all {
    display: inline-block;
    width: 34px;
    height: 16px;
    vertical-align: top;
    margin-right: 3px;
    background: url(../images/system_icon.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.system-ios {
    background-position: 0 0;
}
.system-android {
    background-position: 0 -30px;
}
.system-all {
    background-position: 0 -60px;
    width: 34px;
}
.zone-box {
    float: left;
    width: 738px;
    height: 173px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
}
.zone-box .zbl {
    float: left;
    width: 359px;
}
.zone-box .zbl a {
    width: 80px;
    height: 143px;
    display: block;
    padding: 15px 0 15px 279px;
}
.zone-box .zbl a img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 19px;
}
.zone-box .zbl a em {
    font-size: 12px;
    line-height: 33px;
    color: #333;
    display: block;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.zone-box .zbl a span {
    width: 80px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    background: #f60;
    color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.zone-box .zbl a:hover em {
    color: #f60;
}
.zone-box .zbl a:hover span {
    background: #fc8536;
}
.zone-box .zbr {
    float: right;
    width: 343px;
    padding: 15px 16px 15px 0;
}
.zone-box .zbr ul {
    margin-top: -8px;
    zoom: 1;
}
/* 游戏视频和游戏攻略 */
.game-video {
    float: left;
    width: 740px;
}
.game-strategy {
    float: right;
    width: 360px;
    height: 312px;
    overflow: hidden;
}
.game-strategy .img-two,
.industry-buzz .img-two {
    padding: 0;
    height: 115px;
}
.gs-list ul {
    padding-top: 12px;
    padding-bottom: 14px;
}
.interview .img-two {
    padding: 0;
    height: 270px;
}
.game-strategy .img-two li a,
.game-strategy .img-two li a img,
.industry-buzz .img-two li a,
.industry-buzz .img-two li a img,
.interview .img-two li a,
.interview .img-two li a img {
    width: 170px;
    height: 115px;
}
.gv-list {
    height: 250px;
    overflow: hidden;
}
.gv-list ul {
    margin-top: -20px;
    margin-left: -20px;
    zoom: 1;
}
.gv-list li {
    float: left;
    margin: 20px 0 0 20px;
}
.gv-list li a {
    width: 170px;
    height: 115px;
    display: block;
    position: relative;
    overflow: hidden;
}
.gv-list li a img{
    width: 170px;
    height: 115px;
}
.gv-list li a span {
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url("../images/mask_28.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.gv-list li a:hover span {
    color: #f60;
}
.gv-list li.first a {
    width: 360px;
    height: 250px;
}
.gv-list li.first a img{
    width: 360px;
    height: 250px;
}
.gv-list li.first a span {
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    padding: 52px 0 20px;
    background: url("../images/mask_90.png") repeat-x;
}
.gv-list li b {
    width: 100%;
    height: 100%;
    display: none;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 0;
    left: 0;
}
.gv-list li em {
    width: 54px;
    height: 54px;
    display: block;
    background: url("../images/play_btn.png") no-repeat;
    background-position: 0 -87px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -27px;
    cursor: pointer;
    z-index: 2;
}
.gv-list li.first em {
    width: 87px;
    height: 87px;
    top: 72px;
    margin-left: -34px;
    background-position: 0 0;
}
.gv-list li a:hover em {
    background-position: -87px -87px;
}
.gv-list li.first a:hover em {
    background-position: -87px 0;
}
.gv-list li a:hover b {
    display: block;
}
.img-two {
    height: 130px;
    overflow: hidden;
    padding-top: 20px;
}
.img-two ul {
    margin-left: -20px;
    margin-top: -20px;
    zoom: 1;
    overflow: hidden;
}
.img-two li {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.img-two li a {
    width: 220px;
    height: 130px;
    display: block;
    position: relative;
    overflow: hidden;
}
.img-two li a img {
    width: 220px;
    height: 130px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.img-two li a:hover img {
    -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}
.img-two li a span,
.img-news a span {
    width: 100%;
    height: 28px;
    display: block;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background: url("../images/mask_28.png") repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.img-two li a:hover span {
    color: #f60;
}
/* 行业热点 */
.industry-buzz {
    float: left;
    width: 360px;
}
.industry-ad {
    width: 360px;
    height: 115px;
    display: block;
}
.interview {
    float: left;
    width: 360px;
    margin-left: 20px;
}
.bulletin {
    float: right;
    width: 360px;
}
/* 娱乐八卦 */
.entertainment {
    width: 1120px;
    height: 424px;
    overflow: hidden;
    position: relative;
}
.entertainment a {
    display: block;
    position: absolute;
    background: #b1b1b1;
    overflow: hidden;
}
.entertainment a span {
    width: 100%;
    height: 18px;
    padding: 52px 0 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url("../images/mask_90.png") repeat-x;
    position: absolute;
    bottom: -90px;
    left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.entertainment a:hover span {
    bottom: 0;
}
.entertainment a.e1 {
    width: 378px;
    height: 180px;
    top: 0;
    left: 0;
}
.entertainment a.e1 img {
    width: 378px;
    height: 180px;
}
.entertainment a.e2,
.entertainment a.e3 {
    width: 188px;
    height: 242px;
    top: 182px;
}
.entertainment a.e2 img,
.entertainment a.e3 img {
    width: 188px;
    height: 242px;
}
.entertainment a.e2 {
    left: 0;
}
.entertainment a.e3 {
    left: 190px;
}
.entertainment a.e4 {
    width: 360px;
    height: 424px;
    top: 0;
    left: 380px;
}
.entertainment a.e4 img {
    width: 360px;
    height: 424px;
}
.entertainment a.e7 {
    width: 378px;
    height: 140px;
    top: 142px;
    right: 0;
}
.entertainment a.e7 img {
    width: 378px;
    height: 140px;
}
.entertainment a.e5,
.entertainment a.e6,
.entertainment a.e8,
.entertainment a.e9 {
    width: 188px;
    height: 140px;
}
.entertainment a.e5 img,
.entertainment a.e6 img,
.entertainment a.e8 img,
.entertainment a.e9 img {
    width: 188px;
    height: 140px;
}
.entertainment a.e5,
.entertainment a.e6 {
    top: 0;
}
.entertainment a.e8,
.entertainment a.e9 {
    top: 284px;
}
.entertainment a.e6,
.entertainment a.e9 {
    right: 0;
}
.entertainment a.e5,
.entertainment a.e8 {
    right: 190px;
}
/* 排行榜 */
.rank-list {
    height: 518px;
    padding-top: 20px;
    overflow: hidden;
}
.rank-list ul {
    margin-left: -20px;
    zoom: 1;
}
.rank-list li {
    float: left;
    width: 265px;
    margin-left: 20px;
}
.rank-list dt {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.rank-list li.ios-rank dt {
    background: url("../images/rank_title.gif") 0 0 #f35050 no-repeat;
}
.rank-list li.android-rank dt {
    background: url("../images/rank_title.gif") 0 -40px #3bcb09 no-repeat;
}
.rank-list li.online-rank dt {
    background: url("../images/rank_title.gif") 0 -80px #257cc6 no-repeat;
}
.rank-list li.new-rank dt {
    background: url("../images/rank_title.gif") 0 -120px #8f2cbf no-repeat;
}
.rank-list dd {
    width: 218px;
    padding: 10px 0 10px 47px;
    position: relative;
    border-bottom: 1px dotted #cecece;
}
.rank-list dd span {
    width: 22px;
    height: 22px;
    display: block;
    background: #a8a8a8;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
}
.rank-list li.ios-rank dd .front {
    background: #f35050;
}
.rank-list li.android-rank dd .front {
    background: #3bcb09;
}
.rank-list li.online-rank dd .front {
    background: #257cc6;
}
.rank-list li.new-rank dd .front {
    background: #8f2cbf;
}
.rank-list dd .brief {
    height: 22px;
    line-height: 22px;
}
.rank-list dd.hover .brief {
    display: none;
}
.rank-list dd.hover .detail {
    display: block;
}
.rank-list dd a {
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
.rank-list dd .detail {
    height: 70px;
    overflow: hidden;
    display: none;
}
.rank-list dd .detail h3 {
    line-height: 26px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.rank-list dd .detail p {
    line-height: 26px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.rank-img {
    float: left;
    width: 70px;
    height: 70px;
    display: block;
    padding-right: 10px;
}
.rank-img img {
    width: 70px;
    height: 70px;
    border-radius: 17px;
}
/* 轮播图 */
#swiper1 {
    width: 640px;
    height: 280px;
    position: relative;
}
#swiper3 {
    width: 360px;
    height: 218px;
    position: relative;
}
#swiper1 .swiper-slide {
    position: relative;
    width: 640px;
    height: 280px;
}
#swiper1 p,
#swiper2 p,
#swiper3 p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    text-indent: 20px;
    height: 36px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding-right: 120px;
}
#swiper1 .swiper-pagination-bullet,
#swiper2 .swiper-pagination-bullet,
#swiper3 .swiper-pagination-bullet {
    border-radius: 0px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
    width: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #ccc;
}
#swiper1 .swiper-pagination-bullet-active {
    background: #f60;
    width: 25px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#swiper1 .swiper-pagination {
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 12px;
    padding-right: 10px;
}
#prev1 {
    background: url(../images/sprite.png) -120px top no-repeat;
    width: 40px;
    height: 90px;
    left: 0;
    top: 100px;
}
#next1 {
    background: url(../images/sprite.png) -160px top no-repeat;
    width: 40px;
    height: 90px;
    right: 0;
    top: 100px;
}
#swiper2 .swiper-pagination-bullet-active,
#swiper3 .swiper-pagination-bullet-active {
    background: #f60;
    width: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#swiper2 .swiper-pagination,
#swiper3 .swiper-pagination {
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 7px;
    padding-right: 10px;
}
#prev2,
#prev3 {
    background: url(../images/sprite.png) -202px -84px no-repeat;
    width: 30px;
    height: 66px;
    left: 0;
    top: 90px;
}
#next2,
#next3 {
    background: url(../images/sprite.png) -232px -84px no-repeat;
    width: 30px;
    height: 66px;
    right: 0;
    top: 90px;
}
#swiper4{
    width: 1120px;
    margin: 0 auto;
    margin-top: 10px;
}
#swiper4 .swiper-slide{
    box-sizing: border-box;
    height: 150px;
    position: relative;
    border: 1px solid #fff;
}
#swiper4 .swiper-slide img{
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
}
#swiper4 .swiper-slide p{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}
#swiper4 .swiper-slide:hover{
    border: 1px solid #fd7317;
}
#swiper4 .swiper-slide:hover p{
    background: rgba(0, 0, 0, 0.7);
}
prev4,next4{
    display: block;
}

.title i.icon-topic {
    float: left;
    width: 25px;
    height: 35px;
    background: url(../images/topic.png);
    background-size: 35px 35px;
    background-position: center center;
    margin: 12px 9px 14px 0;
}
#prev4{
    background: url(../images/sprite.png) -202px -84px no-repeat;
    width: 30px;
    height: 66px;
    left: 0;
    top: 60px;
}
#next4{
    background: url(../images/sprite.png) -232px -84px no-repeat;
    width: 30px;
    height: 66px;
    right: 0;
    top: 60px;
}